@model IReadOnlyCollection<Contracts.Cage.CageDto>

<a type="button" class="btn btn-link" asp-action="Create" asp-route-id="@null">Добавить клетку</a>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Номер клетки</th>
            <th scope="col">Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var (position, index) in Model.Select((p, i) => (p, i)))
        {
            <tr>
                <th scope="row">@(index+1)</th>
                <td>@position.Number</td>
                <td>
                    <a type="button" class="btn btn-primary" asp-action="Create" asp-route-id="@position.Id">Редактировать</a>
                    <br />
                    <a type="button" class="btn btn-danger" asp-action="Delete" asp-route-id="@position.Id">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
